* {
  box-sizing: border-box;
}
body {
  margin: auto;
  max-width: fit-content;
  background-size: 100%;
  

}

.player-wrapper-3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: auto;
}
.indianaut2 {
  width: 12%;
  height: 12%;
  position: relative;
  animation-delay: 3s;
  border-radius: 50%;
  margin-left: 5px;
  animation-iteration-count: infinite;
  animation: indianaut2 12s infinite;
  animation-timing-function: ease-in;
  animation-direction: reverse;
}




@keyframes indianaut2 {
  from {
      left: 250px;
    }
  
    to {
      left: 0px;
    }
        

}
.hero{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}


   
             .indianaut {
              -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
               width: 12%;
               height: 12%;
               position: relative;
               animation-delay: 3s;
               border-radius: 50%;
               margin-left: 5px;
               animation-iteration-count: infinite;
               animation: indianaut 12s infinite;
               animation-timing-function: ease-in;
               animation-direction: alternate-reverse;
               }
      
      
      
      
             @keyframes indianaut {
              0% {
                  
                  left: 0px;
                  top: 250px;
                }
              
                25% {
                 
                  right: 250px;
                  top: 0px;
                }
              
                50% {
                  
                  left: 250px;
                  top: 0px;
                }
              
                75% {
                  
                  right: 250px;
                  top: 250px;
                }
              
                100% {
                  
                  left: 0px;
                  bottom: 0px;
                }
                               
              }
                            

        
        



