
.third-party-icons>* {
  flex: 0 1 20%;
}

#third-party-grid {
  width: 55px;
  height: 55px;
  border-radius: 20%;
  margin: 6px;
}

.sharebutton {
  width: 50px;
  font-size: 25px;
  color: #dc9e02;
  background-color: black;
  position: relative;
  bottom: 45px;
  left: 150px;
}

.bandera-icons {
  display:flex;
  flex-direction: row;
  font-size: 40px;
  margin-top: 5px;
}

.bandera {
  display: flex;
  flex-direction: row;
  color: #dc9e02;
  margin-left:25px;
  font-size:20px;
}
.contact{
  font-size: 1rem;
  font-family: 'Iceland';
  margin-left:45px;
}